<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>计算属性</title>
</head>
<script src="../vue.js"></script>

<body>
    <div id="div1">
        <input type="text" v-model="a">
        <input type="text" v-model="b">
        <input type="text" v-model="name">
    </div>
</body>
<script> 
    let vm = new Vue({
        el: '#div1',
        data: {
            a:"a",
            b:"b"
        },
        computed:{
            name:{
                get(){
                   return this.a+this.b;
                },
                set(value){
                    console.log(value);
                    this.a = value[0];
                    this.b = value.substring(1)
                }
            }
        }
        
    })
</script> 
</html>